*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}
h1,h3,h2{
  font-family:"Lato";
}
hr{
 border:1px solid rgb(200, 195, 195) ;
 margin: 0px 25px;
}
p, span{font-family: "Noto Serif";}

:root{
  --text-color:#191f36;
  --main-color:#59B2F4;
}

html{
  font-size: 62%;
  overflow-x: hidden;
}
 body p{
  line-height: 1.8;
 }
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

svg{
  margin-top: 10px;
  padding: 10px;
}


@media (prefers-reduced-motion: reduce) {
  * {
      animation: none !important;
  }
}


/* General Styles for Mobile */
@media (max-width: 768px) {
  /* Hide Navbar */
  .navbar {
      display: none;
  }

  .header h1 {
      font-size: 2.4rem;
  }

  /* Align Home Section */
  .home {
      margin-top: 50px;
      flex-direction: column;
      text-align: center;
      padding: 2rem 1rem;
  }

  .home-content {
      margin-bottom: 1rem;
      text-align: justify;
      width: 250px;
  }

  .home-content h1 {
      font-size: 4rem;
  }

  .home-content h3 {
      font-size: 2.4rem;
  }

  .home-content p {
      font-size: 1.4rem;
  }

  .home-img img {
      width: 200px;
      height: auto;
      margin: 0 auto;
  }

  /* Adjust About Section */
 
  /* skill */
  .skill-box{
      gap: 3.5rem;
  }

  /* Adjust Project Section */
  .project-box {
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 1rem;
      max-width: 90%;
  }

  .project-box .project {
      width: 100%;
      text-align: center;
  }

  .project-container {
    justify-content: center;
}

  /* Footer */
  footer.contact {
      padding: 2rem 1rem;
      text-align: center;
  }

  footer.contact p {
      font-size: 1.4rem;
  }

  /* Scroll Top Button */
  .scroll_top {
      width: 30px;
      height: 30px;
      bottom: 20px;
      right: 20px;
  }
}

@media (max-width: 480px) {
  /* Further Adjustments for Extra Small Devices */
  html {
      font-size: 45%;
  }

  .header h1 {
      font-size: 2rem;
  }

  .home-content h1 {
      font-size: 3.2rem;
  }

  .home-content h3 {
      font-size: 2rem;
  }

  .home-content p {
      font-size: 1.2rem;
  }

  .btn {
      font-size: 1.2rem;
      padding: 0.8rem 2rem;
  }

  .home-img img {
      width: 240px;
      height: auto;
  }

  .about .profile img {
      max-width: 240px;
  }

  footer.contact p {
      font-size: 1rem;
  }
}



